body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff9900;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.testimony-banner {
    background: url('foto/IMG_20240507_094805-fotor-2024050795642.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.testimony-banner h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.testimony-banner p {
    font-size: 1.2em;
}

.testimonies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fff;
}

.testimony-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.testimony-card p {
    font-size: 1em;
    margin-bottom: 15px;
    font-style: italic;
}

.testimony-card h3 {
    color: #ff9900;
    font-size: 1.2em;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer .footer-section {
    flex: 1;
    padding: 10px;
}

footer .footer-bottom {
    padding: 10px;
    background-color: #222;
}
